{% load django_vite %}
{% load style_helpers %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block meta-description %}{% endblock %}">

  <link rel="icon" type="image/ico" href="{% static 'icons/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/ico" href="{% static 'icons/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">

  {% vite_hmr_client %}
  {% style_css_assets %}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  {% block head-extra %}{% endblock head-extra %}

  {% if user.is_authenticated %}
  <meta name="csrf" content="{{ csrf_token }}">
  {% endif %}

</head>

<body>
  <h1 class="text-blue-500 text-2xl ml-3">Django Template</h1>
  <header></header>
  <div id="app">
    {% block content %}{% endblock %}
  </div>
  <footer></footer>
  {% vite_asset 'src/app/app.entry.js' %}
  {% dev_style_loader %}
</body>

</html>
