<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <link rel="icon" type="image/ico" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/ico" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">

  <link href="{% static 'js/app.js' %}" rel=preload as=script>
  <link href="{% static 'css/app.css' %}" rel=preload as=style>
  {% block preloads %}{% endblock preloads %}

  <link href="{% static 'css/app.css' %}" rel=stylesheet>

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="app">
    
    <hello-there></hello-there>

  </div>
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>